/* RESET CSS padrao no css quando se for fazer */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
}

:root {
  --orengen-color: rgba(255, 153, 0, 1);
  --balck-color: rgba(0, 0, 0, 1);
  --cinza-color: rgba(125, 121, 135, 1);
  --white-color: #eceff2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  color: var(--cinza-color);
  font-size: 15px;
  line-height: 22px;
  font-style: normal;
  font-weight: bold;
}

main #labels {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

main #labels span > span {
  color: var(--orengen-color);
  font-size: 15px;
  font-weight: 400px;
  line-height: 22px;
}

body,
a {
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
#hero {
  width: 750px;
  margin: 0 auto 72px;
}

#hero img {
  margin-bottom: 72px;
}

#labels {
  color: var(--cinza-color);
  font-size: 14px;
  line-height: 28px;
}

/* main #hero #content h1 {
  font-family: "Inter", sans-serif;
  color: var(--balck-color);
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  font-weight: bold;
  margin-bottom: 32px;
} */
#content h1 {
  font-family: "Inter", sans-serif;
  color: var(--balck-color);
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

#content h1 span {
  font-weight: bold;
}

#hero #content h1 span,
a {
  color: var(--orengen-color);
}

/*  aqui a regra é pegar o a anterior ao outro exemplo quero que pegue o a anterior ao a do lado esquerdo como n tem n vai deixar espaços*/
/* #footer a + a {
  margin-left: 28px;
} */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 33px;
}

footer .links {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

footer .links a {
  text-decoration: none;
}

.line {
  width: 568px;
  height: 0px;
  margin: 0 auto 8px;
  border: 1px solid var(--white-color);
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
